// wnv_config.config

//params moved to assets/wnv_params.yaml

// E R R O R   H A N D L I N G


// For Error that input and output files were the same
process {
  withName: 'SAMTOOLS_SORT' {
    ext.prefix = { "${meta.id}.sorted" }
  }
}


//Default of Alternate read depth [AD] not in vcf causing filter AD/DP (DP = total reads) >= 0.75 to fail
// using ALT_FREQ 
process {
  withName: 'BCFTOOLS_FILTER' {
    ext.args = "--include 'ALT_FREQ >= 0.05 && ALT_DP >= 1'"
  }
}

