// wnv_config.config

params {
  // M E M O R Y 
  max_memory = 4.GB 
  
    // P L A T F O R M   S E T T I N G S
  protocol          = 'amplicon'
  platform          = 'illumina'
  
  
  // P A T H O G E N   R E F E R E N C E
  genomes {
    'WNV_REF' {
      fasta           = "reference/west_nile_virus.fasta"
      gff             = "reference/west_nile_virus.gff"
      primer_bed      = "reference/WNVic.primers_NC_009942_1.bed"  // Amplicon BED file
      primer_fasta    = "reference/wnv_primers.fasta"           // Primers FASTA
      bowtie2_index   = "reference/west_nile_virus.fasta.fai"
    }
  }

  // V A R I A N T  C A L L I N G
  variant_caller = 'ivar'
  consensus_caller = 'ivar'
  

  // S K I P
  skip_assembly     = true   //don't need de novo assembly
  skip_pangolin     = true   
  skip_nextclade    = true
  skip_assembly     = true   // Enable if you don't need denovo assembly
  skip_kraken2      = true   // WNV-specific Kraken2 DB may be needed
  
  // Whitelist custom parameters
  schema_ignore_params = "primers_fasta,primer_bed,genome_gff,genome_bed"
  

}

// E R R O R   H A N D L I N G

process {
  errorStrategy = 'retry'
  maxRetries = 2
  memory = { task.attempt == 1 ? params.max_memory : params.max_memory * 2 }
}


// For Error that input and output files were the same
process {
  withName: 'SAMTOOLS_SORT' {
    ext.prefix = { "${meta.id}.sorted" }
  }
}


//Default of Alternate read depth [AD] not in vcf causing filter AD/DP (DP = total reads) >= 0.75 to fail
// using ALT_FREQ 
process {
  withName: 'BCFTOOLS_FILTER' {
    ext.args = "--include 'ALT_FREQ >= 0.05 && ALT_DP >= 1'"
  }
}

